/*

!.gitignore
!README
!docker_compose/docker-compose.yml

!back/Dockerfile
!front/Dockerfile

#!nginx
!nginx/Dockerfile
!nginx/nginx.conf
!nginx/placeholder_html/
#!nginx/Dockerfile #gets updates for letsencrypt changes that don't need to be checked in

!rocket_chat
rocket_chat/*
!rocket_chat/Dockerfile
